// Color
$color-black: #000;
$color-white: #FFF;
$color-B3: #B3B3BA;
$color-blue: #24A3FF;
$color-pink: #F0145A;
$color-darkblue: #323264;
$color-E5: #E5E5E5;
$color-CA: #CACADB;
$color-F5: #F5F5FA;
$color-68: #686887;
$color-32: #323264;
;

//Fonts
$font-TTNorms-Bold: 'TTNorms-Bold', sans-serif;
$font-TTNorms-Regular: 'TTNorms-Regular', sans-serif;
