// Color
$color-black: #000;
$color-white: #FFF;
$color-B3: #B3B3BA;
$color-blue: #24A3FF;
$color-pink: #F0145A;
$color-darkblue: #323264;
$color-F4: #F48B30;
$color-FD: #FD9339;
$color-E5: #E5E5E5;
$color-CA: #CACADB;
$color-F5: #F5F5FA;
$color-68: #686887;
$color-1C: #1C4280;
$color-14: #143646;
$color-9E: #9E4DC3;
$color-E2:#E2E2E4;
$color-C7: #C71C36;
$color-DC: #DCF3F9;
$color-EA: #EAEAEA;
$color-28: #282240;
$color-1D: #1D4568;



//Fonts
$font-TTNorms-Bold: 'TTNorms-Bold', sans-serif;
$font-TTNorms-Regular: 'TTNorms-Regular', sans-serif;
